<%- contentFor('style') %>
<link rel="stylesheet" href="/css/forms.css" />
<link rel="stylesheet" href="/css/product.css" />

<%- contentFor('body') %>
<main>
    <%- include('../partial/product-form', { editing : true }) %>
</main>